h1{
    color: blue;
    font-size: 48px;
    text-align: center;
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
p{
    font-size: 20px;
}
span{
    color: rgba(255, 80, 80, 0.977);
    font-size: 30px;
}
div{
   width: 550px;
   background-color: mediumturquoise;
}
button{
    background-color: rgb(255, 98, 0);
    border: 0cm;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}